body {
    font-family: "SF Pro Text", "Segoe UI", "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url("https://imgs.search.brave.com/gJmao-vhjBKjrayUirulDWaZSpzoq3wDBkatBrOW6u4/rs:fit:500:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDU4Mzg3/NTcuanBn"); /* Update the path */
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Transparent background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    max-width: 150px;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333; /* Adjust text color */
}

form {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #007bff; /* Apple blue color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

@media (max-width: 768px) {
    .container {
        max-width: 95%;
    }
}
